body {
  margin: 0;
  font-family: 'Work Sans';
}

/*Generic*/
.header, .courses, .courseDetail {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Header*/
.header--wrapper {
  width: 100%;
  background: #7c689b;
}
.header {
  width: 80%;
  justify-content: space-between;
}
.header h2 {
  padding-top: 8px;
  color: white;
}
.header span, .header a {
  display: inline-block;
  padding: 20px 30px 20px 30px;
  margin: 10px 20px 10px 0;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.header span {
  border: none;
}

/*Courses Index*/
.courses--wrapper {
  width: 100%;
}
.courses {
  width: 90%;
  justify-content: flex-start;
}
.courses--courseItem {
  display: inline-block;
  min-width: 25%;
  margin-top: 20px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: #7c689b;
  text-decoration: none;
}
.courses--courseItem--heading {
  color: #bdb3cd;
}
.courses--courseItem--title {
  color: white;
}
/*Add Course Button on Courses Page*/
.courses--addCourse {
  display: inline-block;
  min-width: 25%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: #eeeeee;
  text-decoration: none;
}
.courses--addCourse--title {
  font-size: 1.2em;
  color: #999999;
}
/*Course Detail*/
.courseDetail--wrapper {
  width: 100%;
}
.courseDetail {
  width: 90%;
  margin-top: 30px;
  justify-content: space-evenly;
}
.courseDetail h3, .courseDetail h4 {
  margin: 0;
  padding: 0;
}
.courseDetail--left, .courseDetail--right {
  display: flex;
  flex-direction: column;
}
.courseDetail--left {
  width: 60%;
}
.courseDetail--right {
  width: 30%;
}

.courseDetail--left h3 {
  font-family: 'Work Sans', serif;
  font-size: 2em;
} 
.courseDetail--left h4, .courseDetail--left--author {
  font-size: 1em;
  color: #999;
  margin-bottom: 7px;
} 
.courseDetail--right h4 {
  text-transform: uppercase;
  font-family: 'Cousine';
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  color: #999;
}

.courseDetail--right h3 {
  margin: 20px 0 20px 0;
}


