body {
  margin: 0;
  font-family: 'Work Sans';
}

.wrapper {
  width: 100%;
}

/*Courses Index*/
.courses {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.courses--courseItem {
  width: 30%;
  margin-top: 20px;
  padding-left: 30px;
  display: inline-block;
  border-radius: 10px;
  background: #7c689b;
}
.courses--courseItem--heading {
  color: #bdb3cd;
}
.courses--courseItem--title {
  color: white;
}

