body {
  margin: 0;
  font-family: 'Work Sans';
}

/*Generic*/
.header, .courses, .courseDetail {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Header*/
.header--wrapper {
  width: 100%;
  background: #7c689b;
}
.header {
  width: 80%;
  justify-content: space-between;
}
.header h2 {
  padding-top: 8px;
  color: white;
}
.header span, .header a {
  display: inline-block;
  padding: 20px 30px 20px 30px;
  margin: 10px 20px 10px 0;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}
.header span {
  border: none;
}

/*Courses Index*/
.courses--wrapper {
  width: 100%;
}
.courses {
  width: 90%;
  justify-content: flex-start;
}
.courses--courseItem {
  display: inline-block;
  min-width: 25%;
  margin-top: 20px;
  margin-right: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: #7c689b;
  text-decoration: none;
}
.courses--courseItem--heading {
  color: #bdb3cd;
}
.courses--courseItem--title {
  color: white;
}
/*Add Course Button on Courses Page*/
.courses--addCourse {
  display: inline-block;
  min-width: 25%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background: #eeeeee;
  text-decoration: none;
}
.courses--addCourse--title {
  font-size: 1.2em;
  color: #999999;
}
/*Course Detail*/
.courseDetail--wrapper {
  width: 100%;
}
.courseDetail {
  width: 90%;
  margin-top: 30px;
  justify-content: space-evenly;
}
.courseDetail h3, .courseDetail h4 {
  margin: 0;
  padding: 0;
}
.courseDetail--left, .courseDetail--right {
  display: flex;
  flex-direction: column;
}
.courseDetail--left {
  width: 60%;
}
.courseDetail--right {
  width: 30%;
}

.courseDetail--left h3 {
  font-family: 'Work Sans', serif;
  font-size: 2em;
} 
.courseDetail--left h4, .courseDetail--left--author {
  font-size: 1em;
  color: #999;
  margin-bottom: 7px;
} 
.courseDetail--right h4 {
  text-transform: uppercase;
  font-family: 'Cousine';
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  color: #999;
}

.courseDetail--right h3 {
  margin: 20px 0 20px 0;
}
/*Course Detail Action Bar*/
.actionBar--wrapper {
  width: 100%;
  background:#f8feff;
}
.actionBar {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
}
.actionBar--button {
  font-family: 'Work Sans';
  padding: 15px;
  margin-right: 15px;
  border-radius: 7px;
  background: #7c689b;
  color: white;
  cursor: pointer;
}
.actionBar--button:last-child {
  background: white;
  color: #7c689b;
  border: 1px solid #7c689b;
}
/*Course Create Form*/
.createCourse--wrapper {
  width: 95%;
  margin: 0 auto;
}
.createCourse {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.createCourse h2 {
  font-size: 2em;
}
.createCourse ul.errors {
  background: rgba(255,0,0, 0.5);
  list-style-type: none;
  width: 100%;
}
.createCourse--left {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.createCourse--left p:first-child {
  margin-top: 0px;
}
.createCourse--left #title {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 2.5em;
  width: 90%;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 8px;
}
.createCourse--left #description {
  font-family: 'Cousine', sans-serif;
  font-size: .95em;
  padding: 8px;
  width: 90%;
  height: 300px;
  border: 1px solid #999;
  border-radius: 8px;
  resize: inherit;
}
.createCourse--right {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-family: 'Cousine', sans-serif;
  text-transform: uppercase;
}
.createCourse--right textarea {
  margin: 15px 0 10px 0;
  width: 100%;
  border: 1px solid #999;
  border-radius: 8px;
  resize: inherit;
}
.createCourse--right #estimatedTime {
  padding: 15px 0 0 10px;
  font-size: 1em;
  height: 40%;
}
.createCourse--right #materialsNeeded {
  padding: 15px 0 0 10px;
  height: 324px;
}
.createCourse--button {
  font-family: 'Work Sans';
  font-weight: bold;
  font-size: 1.2em;
  color: #7c689b;
  background: white;
  float: left;
  margin-right: 20px;
  padding: 20px 60px 20px 60px;
  border: 3px solid #7c689b;
  border-radius: 5px;
  cursor: pointer;
}
/*Sign In form*/
.signInForm--wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.signInForm {
  width: 30%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.signInForm--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signInForm--form input {
  font-family: 'Work Sans';
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 7px;
}
.signInForm h2 {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.signInForm--button--submit {
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 7px;
  background: #7c689b;
  color: white;
  font-family: 'Work Sans';
  font-size: 1.1em;
}
.signInForm--button--cancel {
  width: 100%;
  height: 30px;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #7c689b;
  border-radius: 7px;
  background: white;
  color: #7c689b;
  font-family: 'Work Sans';
  font-size: 1.1em;
}
.signInForm p {
  margin-top: 30px;
  font-family: 'Cousine';
  font-size: 1em;
  font-weight: bold;
}
.signInForm--errors {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px; 
  background: rgba(255,0,0, 0.45);
}

